#walrus-showing {
    display: none;
}

#showstuff {
  display: none;
}

.finalfade {
  display: none;
}

img {
  width: 400px;
}
.clickable {
  cursor: pointer;
  color: #0088cc;
}

.clickable:hover {
  text-decoration: underline;
}

.walrus-showing {
  display: none;
}

.imgToggle {
  cursor: pointer;
  color: #0088cc;
}

.imgToggle:hover {
  text-decoration: underline;
}

.finalToggle {
  cursor: pointer;
  color: #0088cc;
}

.finalToggle:hover {
  text-decoration: underline;
}
